nav {
  background-color: gray;
  padding: 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-right: 1rem;
  &:first-letter {
    text-transform: uppercase;
  }
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
